<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Ruby on Rails Microblog - RSpec Edition is an educational application based on Michael Hartl's
  groundwork <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
</p>
